// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Frame size
$max-width-container: 1400px;

// Variables for fonts
$font-family: "Poppins", sans-serif;
$font-size: 16px;

// Colors
$white: #FAF8F5;
$black: #424241;
$grey: #9E9D9B;
$bg-grey: #DEDAD5;
