@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;

header {
    display: flex;
    padding: 1.86rem 0;
    gap: 17.5rem;
    margin-bottom: 3.34rem;

    .navbar {

        ul {
            @include mixin.list-reset();

            li {
                a{
                    display: inline-block;
                    text-decoration: none;
                    color: var.$grey;
                    &:hover {
                        text-decoration: underline;
                    }
                    &.active {
                        color: var.$black;
                    }
                }
            }
        }
    }
}